*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body{

    margin-left:15%;
    margin-right:15%;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#header{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration-line:underline ;
    margin-top:40px;
    margin-bottom: 40px;
}
#menu{
    text-align: right;
    margin-top:49px;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color:#070f18 ;
    
}
a{
    text-decoration-line: none;
}
#menu a{
    text-decoration-line: none;
    text-decoration-color: #070f18;
    color:#070f18
}
#button{
    width: 180px;
    height: 48px;
    border-radius: 50px;
    background: #1F7CFF;
    padding: 10px 25px 10px 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 40px;
}
#profile h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
   
}
#profile p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #575455;
    margin-bottom:50px;
}
#profileimg{
    margin-left: 42px;
    margin-bottom: 50px;
    max-width: 400px;
    
}
#profileimg img {
    width: 100%;
}
.clientelogo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cliente{
    margin-top: 50px;
    margin-bottom: 50px;
}
h2.red{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1F7CFF;
}
h1.black{
    color: black;
    font-size: 35px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0em;

}
p.gray{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #575455;
}
#serviçostitle{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
}
.serviços{
    text-align: center;
  
}
.serviços img{
    width: 50px;   
}
.serviços h1{
    font-size: 18px;
    line-height: 20px;
}

#meeting img {
    width: 100%;
}
.container #meeting , #forms{
    margin-top: 100px;
    margin-bottom: 100px;
}
#forms input{
    width: 380px;
    height: 40px;
    border-radius: 50px;
    background-color: #EFF8FB;
    border: none;
    padding-left: 30px;

}
#forms{
    margin-left: 60px;
}
#forms button{
    width: 180px;
    height: 40px;
    border-radius: 50px;
    background-color: #1F7CFF;
    color: white;
    border: none;

}
#titleportf{
    margin-top: 50px;
    margin-bottom: 60px;
}
.imgportf img{
    text-align: center;
    width: 100%;
}
.imgportf{
    margin: 20px 20px 180px 20px;
}
#app{
    font-weight: 500;
    font-size: 20spx;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    margin: 0 auto;
    display: flex;
    
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 252px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    margin: inherit;
  }
  .carousel .card .img {
    background: rgba(245, 245, 245, 0.13);;
    height: 150px;
    width: 100%;
    border-radius: 10px;
   
  }
  .card .img img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  #perfil{
    width: 150px;
    max-height: 280px;
    object-fit: cover;
    border-radius: 20px;
  }
  footer{
    display: grid;
    grid-auto-flow: column;
    margin: 80px;

  }